.taskContainer {
  box-shadow: 5px 3px 14px 3px #888888;
  border-radius: 7px;
  margin-top: 10px;
  border: none;
  background-color: white;
  width: 95%;
  min-height: 6rem;
  cursor: pointer;
}
.text {
  padding-left: 10px;
  font-weight: bold;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.third {
  /* width: 20%; */
  flex-basis: 18%;
}
