@import "../../../index.css";

.column {
  width: 22%;
  border: 1px solid rgba(128, 128, 128, 0.744);
  border-radius: 7px;
}
.addIssueBtn {
  color: var(--light);
}

.header {
  /* width: 100%; */
  background-color: var(--dark);
  color: var(--light);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 7px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}
.header button {
  background: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
.column-body {
  background-color: var(--light);
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
