@import "../../index.css";

.navbar {
  display: flex;
  /* width: 100%; */
  background-color: var(--main);
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.projects {
  cursor: pointer;
}
.myTasks:hover {
  cursor: pointer;
}
.logoContainer {
  display: flex;
  width: 15%;
  justify-content: space-around;
  cursor: pointer;
}
.logoContainer img {
  height: 70px;
}
