@import "../../../index.css";

.pointer {
  width: 10px;
  height: 10px;
  background-color: aliceblue;
  transform: rotate(45deg);
  z-index: 100;
  top: 54px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  right: 32px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
}
.wrapBox {
  z-index: 30;
  position: fixed;
  right: 7px;
  top: 50px;
  border-radius: 7px;
  width: 265px;
  height: 322px;
  border: 1px solid rgba(0, 0, 0, 0.645);
  background-color: aliceblue;
  box-shadow: 0px -3px 14px 4px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.username {
  color: var(--dark);
}
.email {
  color: var(--dark);
  font-weight: bold;
}

.profileImage {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
