@import "../../index.css";

.container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid var(--dark);
  margin: 15px;
  border-radius: 7px;
  background-color: var(--light);
}
