.title {
  margin-left: 15px;
}
.container {
  min-height: 7rem;
  font-size: larger;
  background-color: whitesmoke;
  border: 1px solid pink;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  min-width: 20%;
}
.addProjectModal {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.input {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 21px;
}
.input input {
  border: 1px solid grey;
  outline: none;
  font-size: 21px;
}
